<div class="header">
  <ion-buttons>
    <ion-button routerLink="/nav/foods">
      <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
<ion-icon class="far fa-heart" (click)="addItemToFavorite()" name="heart"></ion-icon>
  
</div>

<ion-content >
  <ion-card>
    <ion-img [src]="foods.image"></ion-img>
  </ion-card>
    <div class="image">
      <ion-title class="foods-title">{{foods.title}}</ion-title>
    </div>
  
  <ion-content class="content">

    <ion-card>
      <p>{{foods.description}}</p>
    </ion-card>
    <ion-card>
      <p>{{foods.description2}}</p>
    </ion-card>
  </ion-content>
</ion-content >