ion-content{
    --ion-background-color:#fafff4;
}
.bg
{
    height: auto;
    width: auto;
    margin: auto;
}
.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2cm;
    --border-radius: 2cm;
}