<div class="header">
  <ion-buttons>
    <ion-button routerLink="/nav/meal">
      <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{meal.name}}</ion-title>
</div>

<ion-content>

  <!-- breakfast -->
    <div class="breakfast">
    <h3>Breakfast</h3>
    <ion-grid fixed>
      <ion-card>
        <ion-row>
          <ion-col >
            <ion-img [src]="meal.bf1"></ion-img>
            <p>{{meal.bname}}</p>        
          </ion-col>
          <ion-col >
            <ion-img [src]="meal.bf2"></ion-img>
            <p>{{meal.b2name}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
    
    </div>
    <div class="breakfasttea">
      <h3>Breakfast Tea</h3>
      <ion-grid >
        <ion-card>
          <ion-row>
            <ion-col >
              <ion-img [src]="meal.bt"></ion-img>
            <p>{{meal.btname}}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
      </div>
  
    <!-- lunch -->
    <div class="lunch">
    <h3>Lunch</h3>
    <ion-grid >
      <ion-row>
        <ion-col >
          <ion-img [src]="meal.lunch"></ion-img>
          <p>{{meal.lname}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div class="lunchtea">
      <h3>Lunch Tea</h3>
      <ion-grid >
        <ion-row>
          <ion-col >
            <ion-img [src]="meal.lt"></ion-img>
            <p>{{meal.ltname}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    <!-- dinner -->
    <div class="Dinner">
    <h3>Dinner</h3>
    <ion-grid fixed>
      <ion-row>
        <ion-col >
          <ion-img [src]="meal.d1"></ion-img>
          <p>{{meal.d1name}}</p>
        </ion-col>
        <ion-col >
          <ion-img [src]="meal.d2"></ion-img>
          <p>{{meal.d2name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-content>