
div{
  scroll-margin: 0px;
  margin-left: 15px;
  
  --ion-background-color: #fafff4;
}
ion-header ion-toolbar{
  background-color: #6ea833;
  --ion-background-color: #6ea833;
    align-content: center;
  }ion-content{
      --ion-background-color:#fafff4;
  }
  .ion-title {
    color: rgb(255, 255, 255);
    display: inline-block;

    height: auto;
  }
  .ion-title, h3 {
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1px;
  }

  ion-header .ion-title {
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: -3px;
    height: auto;
    align-content: center;
  }
  .ion-title, h3 {
    font-family: 'Arial';
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;

  }
  ion-searchbar{
    --ion-background-color: rgb(214, 234, 209);
    margin-top: 5px;
  }
  
  ion-header img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    float: right;
  } 