.card {
    width: 100%;
    height: 220px;
    padding: 25px;
    background-color: rgba(222, 237, 218, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 40px;
    margin: 0px 20px 10px 0;

    .ailments-title {
        text-align: center;

        ion-label {
            font-weight: 700;
            font-size: 1.1rem;
            margin-bottom: .2rem;
            color: black;
            font-family: Gilroy;
        }
    }
    ion-img {
        margin-bottom: 5px;
    }
}

.ion-content {
   margin-right: 15px;
}