<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>About Us</h3>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title">
    <ion-title>Disclaimer</ion-title>
    </div>
    <ion-card>
    <p>The information is intended for educational purposed only and is not intended as a substitute for professional medical advice,Diagnosis or treatment.It is recommended that you seek legal counsel for specific matters.We only get the information and photo from the search engines and websites.</p>
    <p>Wishes and suggestions are accepted on the improvement of the App.</p>

  </ion-card>
  <div class="title">
    <ion-title>Developers</ion-title>
  </div>
    <ion-card>
      <img src="assets/MAGBOO.jpg">
      <p>Marvin M. Magboo Jr</p>
    </ion-card>
    <ion-card>
      <img src="assets/MENDOZA.jpg">
      <p>JOHN PAUL MENDOZA</p>
    </ion-card>
    <ion-card>
      <img src="assets/SARABIA.png">
      <p>FRANCIS EJ SARABIA</p>
    </ion-card>
  </ion-content>
