<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>About Us</h3>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Importance of eating healthys-->
  <div class="important-form">

    <h1> The Developers</h1>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
      </ion-avatar>
        <p>Marvin Magboo Jr</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
        </ion-avatar>
        <p>John Paul Mendoza</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
        </ion-avatar>
        <p>Francis Ej Sarabia</p>
      </ion-item>
    </ion-list>
  
  </div>
    <!-- Showing Images-->
<app-slide-image></app-slide-image>
  </ion-content>
