<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>Meal Plan</h3>
    </div>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search -->
  <ion-searchbar [(ngModel)]="term" showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
  <div class="list" *ngFor="let meal of meal | filter:term">
  
    <!--List of herbal plants-->
    <app-plans  [item]="meal" (clicked)="goToInfoPage(meal.plans)"></app-plans>

  </div>
</ion-content>