ion-header ion-toolbar{
  background-color: #6ea833;
  --ion-background-color: #6ea833;
  align-content: center;
  padding-top: 10px;
}
ion-header .ion-title {
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: -3px;
  height: auto;
  align-content: center;
}
.ion-title, h3 {
  font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: left;
}

ion-header img{
  width: 45px;
  height: 45px;
  margin-right: 10px;
  float: right;
} 
ion-searchbar{
  --ion-background-color: rgb(214, 234, 209);
  margin-top: 5px;
}
.list{
  font-family: Gilroy;
}
ion-content{
  --ion-background-color:#fafff4;
}