ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fafff4));
  }
ion-toolbar{
  --ion-background-color:rgb(122, 239, 122);
}
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: green;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}
  ion-item.selected {
    --color: green;
  }
  .menu-header-bg {
    height: 150px;
    width: 380px;
    background: green;
    background: linear-gradient(90deg, rgb(122, 239, 122) 0%, rgb(73, 180, 73) 100%);
    box-shadow: 0px 1px 10px rgb(105, 121, 105);
    transform: rotate(-12deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -88px;
    margin-bottom: 20px;
  }
  
  .header-content {
    position: absolute;
    top: 3px;
    left: 3px;
    display: flex;
    align-items: center;
  
    img {
        width: 105px;
        height: 105px;
        margin-right: 14px;
    }
  }
  p {
    font-family: Gilroy;
    font-size: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 0.4px;
  }

ion-list {
    margin: 48px 10px 10px 10px;
}
ion-item {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}