
   .ailments-title {
       text-align: center;

       ion-label {
           font-weight: 700;
           font-size: 1.1rem;
           margin-bottom: .2rem;
           color: black;
           font-family: Gilroy;
       }
   } 

.ion-content {
  margin-right: 15px;
  background: rgb(135, 241, 135);
}