ion-header ion-toolbar{
    --ion-background-color: #6ea833;
    align-content: center;
  }
  .ion-title {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: auto;
  }
  .ion-title, h3 {
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  ion-header img{
    width: 5px;
    height: 45px;
    margin-right: 10px;
    float: right;
  } 
ion-content{
    --ion-background-color:#fafff4;
}
ion-list {
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Arial';
    margin-left: 25px;
  }


  .important-form {
    justify-content: center;
    text-align: center;

  }
  .important-form ion-card {
    background-color: #f6f6f6;
    margin-top: 1px;
  
  }
  .important-form ion-card h1 {

    color: #6ea833;
    align-items: center;
    text-align: center;
    font-size: 2.6em;
    font-weight: 600;
    font-family: 'Arial';
    margin-left: 25px;
    line-height: 1;
  }

  on-content on-card-content {
    align-items: center;
    text-align: center;
    font-size: 30px;
  }

.foodContent ion-card {
    background-color: #f6f6f6;
    margin-top: 1px;
  }

.foodContent ion-card-header {
  font-size: 2em;
  color: #6ea833;
}

.foodContent ion-card-content {
    text-align: justify;
}

.foodContent ion-card-title {
    margin-left: 15px;
    color: #6ea833;
}

.foodContent ion-item {
  line-height: 1;
  background-color: #6ea833;
}

.foodContent ion-list{
  background-color: #fafff4;
}



.doD ion-card {
  background-color: #f6f6f6;
  margin-top: 1px
}

.doD h1 {
  text-align: center;
  color: #6ea833;
}

.doD ion-card-content {
  text-align: justify;

}

// DONT
.dont ion-card {
  background-color: #f6f6f6;
  margin-top: 1px
}

.dont h1 {
  text-align: center;
  color: #a83333;
}

.dont ion-card-content {
  text-align: justify;

}





