<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>Home</h3>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Importance of eating healthys-->
  <div class="important-form">

    <h1> Important of Herbal Medicine</h1>
    <ion-list>
      <ion-item>
        <p>Pre dito pede naten lagay importance ng masustansya na pagkain</p>
      </ion-item>
      
    </ion-list>
  
  </div>
    <!-- Showing Images-->
<app-slide-image></app-slide-image>
  </ion-content>
