<ion-header>
  <ion-toolbar>
    <div class="ion-title">
      <h3>Home</h3>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  header-->
  <div class="important-form">
    <ion-card>
      <ion-card-header>
        <h1>Eat better. <br>
          Lose weight. <br>
          Get Healthy.</h1>

          <ion-card-content>
            Fooducate empowers you to achieve your diet, health, and fitness goals.
          </ion-card-content>
      </ion-card-header>

    </ion-card>

  </div>
    <!-- Showing Images-->
<app-slide-image></app-slide-image>


    <!-- DO'S AND DONT'S -->
<div class="doD">
  <ion-card>
      
      <ion-button color="success" expand="block" >DO's Of Good Eating Habits</ion-button> <br>
      <img src="assets/do.jpg" />

      <h1>Do: Eat consistent, healthy meals. </h1>
      <ion-card-content>
        Ever notice  how all you want to do is take a nap after eating a huge, greasy meal? Large portions, especially of less-than-healthy food, can exhaust you and leave you feeling sluggish. Eating several small meals a day will allow you to keep your metabolism going for extra caloric burn.

        Four to six portion-controlled meals can help you maintain your blood sugar and keep you from getting seriously hungry during the day, which can easily lead to overeating.  
      </ion-card-content>


      <h1>Do: Stay hydrated. </h1>  
      <ion-card-content>
        Drinking water has a variety of benefits, and weight loss is definitely one of them. It can fill you up so you’re less hungry, and studies have even suggested that getting plenty of water can help you burn calories faster.

        Most of the time, four to six cups of water per day is a great goal for healthy people, but more is needed during exercise or hot weather.
      </ion-card-content>
    
      <h1>Do: Meal prep. </h1>  
      <ion-card-content>
        When you’re trying to scrape dinner together, or you don’t have a lunch prepared, you’re more likely to choose a quick, easy, and unhealthy option that slows your weight loss progress.

        If you have a plan, it’s easier to resist the temptation of less-healthy alternatives. Go into the week knowing what you’ll eat for each meal so you can be sure to have clean food ready to go when you’re hungry. Once you’ve made this a habit, you’ll see your overall diet improve—and you’ll feel so much better!
      </ion-card-content>
    
      <h1>Do: Make swaps for healthy food. </h1>  
      <ion-card-content>
        Switching fatty foods for lower-calorie options can be a great way to improve your overall wellness and contribute to your healthy weight loss.

        Small things that you use often are great to swap out. Replacing butter with a butter substitute, replacing mayonnaise with mustard, or using one piece of bread instead of two to create open-faced sandwiches can make a big difference over time.
      </ion-card-content>
    
      <h1>Do: Stick to a healthy exercise routine. </h1>  
      <ion-card-content>
        While eating well and staying hydrated are important for weight loss, exercise is a big piece of the puzzle, too. You don’t have to jump into hardcore workouts right away, though—start small and find activities you love!

        Experts recommend that healthy adults get 150 minutes of aerobic exercise each week. This can include group fitness classes, swimming, and running on the track in an open gym. Also, strength training twice a week for all muscle groups is advised for a healthy body and effective weight loss.
      </ion-card-content>

    </ion-card>
  </div>
    
   <!-- DONTS -->
      <div class="dont">
        <ion-card>
   
      <ion-button color="danger" expand="block" >DONT's Of Good Eating Habits</ion-button> <br>
      <img src="assets/dont.jpg" />

      <h1>Don’t: Skip meals. </h1>  
      <ion-card-content>
        You might think that skipping breakfast or lunch is a great way to cut calories, but this actually does more harm than good. Starving yourself is unhealthy and simply doesn’t help you lose weight or keep it off.

        Just like your parents always said, breakfast really is the most important meal of the day. Skipping that quick morning bite deprives your body of the chance to kick start its metabolism, which can result in a desire to eat bigger (or unhealthy) meals later.
      </ion-card-content>

      <h1>Don’t: Forget about the calories you drink. </h1>  
      <ion-card-content>
        Soda, juice, and other beverages are full of sugar and can include lots of calories with little to no nutritional value. Water is usually your best option for staying hydrated and energetic in the long run.

        If you want something with a little more excitement than water, try drinks like flavored sparkling water. They offer hydration (and a little variety!) without any added sugars.
      </ion-card-content>
      
      <h1>Don’t: Look for short-term, quick fixes.</h1>  
      <ion-card-content>
        Fad diets and weight-loss supplements can offer appealing results. Major, rapid weight loss may sound nice, but it can be unhealthy and ineffective long-term.

        Losing a maximum of 1-2 pounds per week is healthier, safer, and longer-lasting than those quick fixes. With proper diet and exercise, this should be the natural way your body changes. If you’re not sure how to best improve your long-term eating habits, your local community center may have wellness coaches or a learning kitchen to assist you.
      </ion-card-content>
    </ion-card>
    </div>
  
 
      

  

    <!-- Display the other food content of the week -->
<div class="foodContent">
<ion-card >
  <ion-button color="success" expand="block" >BEST RECIPE OF THE WEEK</ion-button> <br>
  <img src="assets/tinola.jpg" />
  <ion-card-header><b>HEALTHY TINOLA</b>
    <ion-card-subtitle> 
      <ion-icon name='star-sharp'></ion-icon>
      Best Dishes of the Week</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
      Tinola, a comforting chicken soup seasoned with plenty of ginger and garlic, has countless variations throughout the Philippines. The soup calls for malunggay leaves (aka moringa), which can be found fresh or frozen at Asian markets. Bok choy is a good substitute. Feel free to increase the amounts of garlic and fish sauce for an even more flavorful soup. Serve this easy and healthy chicken soup on its own or with jasmine rice, quinoa or wild rice.
    </ion-card-content>
    <ion-card-title>Ingredients</ion-card-title>

  <ion-card-content>
    ♦ 3 tablespoons canola oil or avocado oil <br>
    ♦ ½ cup chopped yellow onion <br>
    ♦ ¼ cup thinly sliced fresh ginger <br>
    ♦ 6 cloves garlic, minced <br> 
    ♦ 1 pound boneless, skinless chicken thighs, trimmed and cut into 1/2-inch pieces<br>
    ♦ 4 cups low-sodium chicken broth <br>
    ♦ 1 ½ cups peeled and cubed green papaya or chayote <br>
    ♦ 2 cups chopped malunggay leaves or bok choy leaves <br>
    ♦ 1 tablespoon fish sauce <br>
    ♦ ¼ teaspoon salt <br>
    ♦ ¼ teaspoon ground black pepper
    
  </ion-card-content>
</ion-card>

<ion-card >
  <img src="assets/gising.jpg" />
  <ion-card-header><b>GISING - GISING</b>
    <ion-card-subtitle> 
      <ion-icon name='star-sharp'></ion-icon>
      Best Dishes of the Week</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
      Sigarilyas (winged bean) in coconut milk, chilis and lean ground beef or pork. Technically gising gising means Wake up! Wake up! in the filipino language, tagalog.  The dish is called gising gising because of the use of bird’s eye chili. It’s a very addictive spicy dish and a most wonderful way of preparing winged green beans (sigarilyas), high in vitamin A.
    </ion-card-content>
    <ion-card-title>Ingredients</ion-card-title>

  <ion-card-content>
    ♦ 1 lb green beans Baguio beans, chopped (about 3/4 inches) <br>
    ♦ 1/2 lb ground pork <br>
    ♦ 1 1/2 tablespoons shrimp paste <br> 
    ♦ 2 cups coconut milk <br> 
    ♦ 3 cloves garlic crushed <br> 
    ♦ 1 medium onion minced <br>
    ♦ 2 tablespoons cooking oil <br> 
    ♦ 3 pieces chili chopped (optional) <br>
    ♦ 1/2 teaspoon ground black pepper <br>
  </ion-card-content>
</ion-card>

</div>
  </ion-content>


  








